<div class="pb-4 mb-4 border-bottom">
    <h2 class="font-italic">
        My Blog
    </h2>
    <% if logged_in?(:site_admin) %>
      <%= link_to "Write a new Blog", new_blog_path, class: "btn btn-sm btn-outline-dark" %>
    <% end %>
</div>
