<h1 class="cover-heading text-center">About me</h1>
<hr>

<div class="row">
    <div class="col-4">
        <!--img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg" alt="" class="img-fluid"-->
        <%= image_tag "view.jpg", class: "img-fluid", alt: 'profile-image' %>
    </div>
    <div class="col-8">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis esse at consequatur in nam rem accusamus repellendus voluptatibus odit voluptates adipisci, delectus sit magnam, atque eos provident sunt possimus ea.</p>
    </div>
</div>