<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome!</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem impedit recusandae voluptatibus deserunt minus minima quibusdam debitis error nostrum sit aperiam nihil doloremque earum enim, quasi facere eaque optio eum?.</p>
    <p class="lead">
        <%= link_to  "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</main>
